.u-img-cover {
    display: block;
    height: 200%;
    left: -50%;
    position: relative;
    top: -50%;
    width: 200%;

    //Center (e.g. img tag)
    &__center {
        bottom: 0;
        left: 0;
        margin: auto;
        min-height: 50%;
        min-width: 50%;
        object-fit: cover;
        overflow-x: hidden;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}
