.a-fade {
    &-enter--active,
    &-leave--active {
        opacity: 1;
        transition: all .45s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }

    &-enter {
        // transform: translatey(20px);
    }

    &-leave-to {
        // transform: translatey(40px);
    }
}

.a-fade-slide {
    &-enter--active,
    &-leave--active {
        opacity: 1;
        transition: all .45s;
    }

    &-enter,
    &-leave-to {
        opacity: 0;
    }

    &-enter {
        transform: translatey(20px);
    }

    &-leave-to {
        transform: translatey(40px);
    }
}
