<template>
    <transition
        name="a-fade"
        enter-active-class="a-fade-enter--active"
        leave-active-class="a-fade-leave--active"
        mode="out-in"
    >
    <div class="l-gallery">
        <div class="c-lightbox">
            <div class="c-lightbox__canvas">
                <div class="c-lightbox__image-container">
                    <div class="c-image">
                        <img :src="currentImage.mainSrc" alt="" class="c-image__main">
                    </div>
                </div>
            </div>
        </div>
    </div>
</transition>
</template>

<script>
    import { mapState } from 'vuex';
    import { mapGetters } from 'vuex';
    import { mapActions } from 'vuex';
    import { mapMutations } from 'vuex';

    import Helpers from '../../../helpers/helpers';

    import BlurryImageLoader from '~components/BlurryImageLoader.vue';

    export default {
        computed: {
            ...mapState({
                currentImage: state => state.lightbox.currentImage,
                lightBoxIsOpen: state => state.lightbox.lightBoxIsOpen
            })
        },
        methods: {
            ...mapMutations({
                setCurrentImage: 'lightbox/setCurrentImage',
                openLightbox: 'lightbox/openLightbox',
            }),
            ...mapActions({
                setCurrentImageById: 'lightbox/setCurrentImageById'
            })
        },
        components: {
            BlurryImageLoader
        },
        created(){
            if (this.$route.params.photoid) {
                this.setCurrentImageById(this.$route.params.photoid);
            }
            //Update the image when url navigation is clicked
            if (Helpers.isBrowser()) {
                window.onpopstate = (e) => {
                    let photoId = window.location.pathname.split('/photo/')[1];
                    this.setCurrentImageById(photoId);
                }
            }
        }
    }
</script>
