.c-image {
    overflow: hidden;
    position: relative;
    user-select: none;

    &::after {
        content: '';
        @extend .u-full-absolute;
    }

    &__thumb {
        filter: blur(30px);
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
        transform: scale(1.1);
    }

    &__main,
    &__thumb {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &--is-loaded {
            animation: 1s fadeIn both;
        }
    }

    @at-root {
        @keyframes fadeIn{
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}
