.c-lightbox {
    background: $white;

    &__canvas {
        height: 100%;
        margin: auto;
        max-width: calc(100% - 10rem);
        text-align: center;
        @include breakpoint($x-large) {
            max-width: calc(100% - 20rem);
        }
    }

    &__image-container {
        height: 100%;
        width: 100%;
    }

    &__nav {
        height: 100%;
        position: absolute;

        &-icon {
            bottom: 0;
            height: 3.6rem;
            margin: auto;
            position: absolute;
            top: 0;
            width: 3.6rem;
            @include breakpoint($x-large) {
                height: 5.5rem;
                width: 5.5rem;
            }
        }

        &--prev {
            left: 0;
            width: 50%;

            .c-lightbox__nav-icon {
                left: .7rem;
                @include breakpoint($x-large) {
                    left: 2rem;
                }
            }
        }

        &--next {
            right: 0;
            width: 50%;
            // cursor: url('/static/img/cursor-right.png'), auto;
            .c-lightbox__nav-icon {
                right: .7rem;
                @include breakpoint($x-large) {
                    right: 2rem;
                }
            }
        }
    }

    &__close,
    &__nav {
        position: absolute;
        top: 0;

        &-icon {
            cursor: pointer;
            display: block;
            fill: rgba($black, .3);
            stroke: rgba($black, .7);
            stroke-width: 0;
            transition: all .3s;

            &:hover {
                fill: rgba($black, .7);
                stroke-width: .5px;
            }
        }
    }

    &__close {
        height: 4.5rem;
        left: .3rem;
        lost-align: center;
        position: absolute;
        top: 1rem;
        width: 4.5rem;

        &-icon {
            height: 3rem;
            width: 3rem;
        }
        @include breakpoint($x-large) {
            height: 6rem;
            left: 2rem;
            width: 6rem;

            &-icon {
                height: 4.5rem;
                width: 4.5rem;
            }
        }
    }

    .c-image {
        height: 100%;
        width: 100%;

        &__main,
        &__thumb {
            display: block;
            height: 100%;
            left: 0;
            object-fit: contain;
            opacity: 1;
            overflow: hidden;
            position: absolute;
            top: 0;
            width: 100%;

            &--is-loaded {
                animation: none;
            }
        }

        .no-object-fit & {
            overflow: hidden;
            lost-align: center;

            &__main,
            &__thumb {
                margin: auto;
                max-width: none;
                right: 0;
                width: auto;
            }
        }

        &__thumb {
            display: none;
        }
    }
}
