// scss-lint:disable ColorKeyword
// scss-lint:disable ColorVariable
[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid grey;
    border-radius: 0;
    box-shadow: none;
    max-width: 100%;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

textarea {
    resize: none;
    width: 100%;
}

[type='date'],
[type='number'] {
    max-width: 200px;
}

input:disabled,
input[readonly],
select:disabled,
textarea:disabled,
textarea[readonly] {
    cursor: default;
}

[type='checkbox'],
[type='file'],
[type='radio'] {
    margin: 0 0 1rem;
}

[type='checkbox'],
[type='radio'] {
    display: inline-block;
    margin-right: 5px;
    vertical-align: baseline;
}

[type='checkbox'] + label,
[type='radio'] + label {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

[type='file'] {
    width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    margin-bottom: 0;
    max-width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 10px 8px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding-right: 30px;

    &::-ms-expand {
        display: none;
    }
}
