<template>
<div class="l-gallery-grid">
    <div v-for="img in imagesListComplete" :key="img" :style="'flex-grow:' + img.growRatio + ';flex-basis:' + img.aspectRatio*rowHeight + 'px'" class="l-gallery-grid__item">
        <a @click="handleLinkClick($event, img)" :href="'/photo/' + img.id">
            <div class="l-gallery-grid__item-canvas" :style="'padding-bottom:' + img.aspectRatioPercentage + '%'">
                <blurry-image-loader v-if="img.toBeLoaded" :imgObj="img"></blurry-image-loader>
            </div>
        </a>
    </div>
</div>
</template>

<script>
import Helpers from '../helpers/helpers';

//Components
import BlurryImageLoader from './BlurryImageLoader.vue';

//Maps
import { mapState } from 'vuex';
import { mapGetters } from 'vuex';
import { mapActions } from 'vuex';
import { mapMutations } from 'vuex';

let oldChildren = [];

export default {
    computed: {
        ...mapState({
            rowHeight: state => state.gallery.rowHeight,
            imageList: state => state.gallery.imagesList,
            lightBoxIsOpen: state => state.lightbox.lightBoxIsOpen
        }),
        ...mapGetters({
            imagesListComplete: 'gallery/imagesListComplete',
        })
    },
    methods: {
        ...mapActions({
            loadGrid: 'gallery/loadGrid',
            loadImageOnScroll: 'gallery/loadImageOnScroll',
            getImagesPosition: 'gallery/getImagesPosition'
        }),
        ...mapMutations({
            setCurrentCategory: 'gallery/setCurrentCategory',
            setImagesToLoad: 'gallery/setImagesToLoad',
            setCurrentImage: 'lightbox/setCurrentImage',
            openLightbox: 'lightbox/openLightbox',
            closeLightbox: 'lightbox/closeLightbox',
        }),
        handleLinkClick(e, img) {
            e.preventDefault();
            this.setCurrentImage(img);
            this.openLightbox();
            this.setCurrentCategory(this.$route.params.category);
            history.pushState({}, null, '/photo/' + img.id);

        },
    },
    watch: {
        '$route' (to, from) {
            if (this.$route.params.category) {
                this.setCurrentImage(null);
                this.loadGrid(this.$route.params.category);

                this.$nextTick(() => {
                    let children = [].slice.call(this.$el.children);
                    this.getImagesPosition(children);
                    this.setImagesToLoad();
                });
            }

        }
    },
    components: {
        BlurryImageLoader
    },
    created() {
        this.setCurrentImage(null);
        this.loadGrid(this.$route.params.category);

        // Close lightbox if url includes photography in the path
        if(Helpers.isBrowser()) {
            window.onpopstate = (e) => {
                if (window.location.pathname.indexOf('photography')) {
                    this.closeLightbox();
                    this.setCurrentImage(null);
                }
            }
        }

    },
    mounted() {
        this.$nextTick(() => {
            let children = [].slice.call(this.$el.children);
            this.getImagesPosition(children);
            this.setImagesToLoad();
            this.loadImageOnScroll();
        });
    }
}
</script>
