<template>
    <ul class="c-nav">
        <ul class="c-nav__list">
            <li class="c-nav__list-item" v-for="filter in filterList">
                <nuxt-link
                    :to="'/photography/' + filter.path"
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                >{{filter.name}}</nuxt-link>
            </li>
        </ul>
    </ul>
</template>

<script>
import { mapState } from 'vuex';
import { mapActions } from 'vuex';

export default {
    computed: {
        ...mapState({
            filterList: state => state.gallery.filterList
        })
    },
    methods: {
        ...mapActions({
            getFilters: 'gallery/getFilters',
        })
    },
    created() {
        this.getFilters();
    }
}
</script>
