<template>
    <transition
        name="a-fade"
        enter-active-class="a-fade-enter--active"
        leave-active-class="a-fade-leave--active"
        mode="out-in"
    >
    <div v-if="lightBoxIsOpen" :class="`c-lightbox c-lightbox--is-${currentImage.orientation}`"
        @keyup.left="handlePrevClick"
    >
        <div class="c-lightbox__canvas">
            <div class="c-lightbox__image-container">
                <blurry-image-loader
                    :imgObj="currentImage"
                    :callBack="loadImage(this.nextImage)"
                ></blurry-image-loader>
            </div>
            <div
                v-if="prevImage"
                class="c-lightbox__nav c-lightbox__nav--prev"
                @click="handleNavClick(prevImage);"
            >
                <div class="c-lightbox__nav-icon"v-html="iconBack.template"></div>
            </div>
            <div
                v-if="nextImage"
                class="c-lightbox__nav c-lightbox__nav--next"
                @click="handleNavClick(nextImage)"
            >
                <div class="c-lightbox__nav-icon"v-html="iconForward.template"></div>
            </div>
            <div
                class="c-lightbox__close"
                @click="handleClose()"
            >
                <div class="c-lightbox__close-icon"v-html="iconClose.template"></div>
            </div>
        </div>
    </div>
</transition>
</template>

<script>
    import { mapState } from 'vuex';
    import { mapGetters } from 'vuex';
    import { mapActions } from 'vuex';
    import { mapMutations } from 'vuex';

    import BlurryImageLoader from './BlurryImageLoader.vue';

    export default {
        computed: {
            ...mapState({
                currentImage: state => state.lightbox.currentImage,
                lightBoxIsOpen: state => state.lightbox.lightBoxIsOpen
            }),
            ...mapGetters({
                nextImage: 'lightbox/nextImage',
                prevImage: 'lightbox/prevImage'
            })
        },
        methods: {
            ...mapMutations({
                setCurrentImage: 'lightbox/setCurrentImage',
                toggleLightBox: 'lightbox/toggleLightBox',
                closeLightbox: 'lightbox/closeLightbox',
            }),
            ...mapActions({
                loadImage: 'lightbox/loadImage',
                toggleLightBox: 'lightbox/disableScroll',
                closeLightbox: 'lightbox/enableScroll'
            }),
            handleKeyPress(payload) {
                let key = payload.key;
                switch (key) {
                    case 'ArrowLeft':
                        this.prevImage ? this.$router.push({name: 'photo', params: {category: this.$route.params.category, photoid: this.prevImage.id}}) : null;
                    break;
                    case 'ArrowRight':
                        this.nextImage ? this.$router.push({name: 'photo', params: {category: this.$route.params.category, photoid: this.nextImage.id}}) : null;
                    break;
                }
            },
            handleNavClick(img) {
                this.$router.push({
                    name: 'photo',
                    params: {
                        category: this.$route.params.category,
                        photoid: img.id
                    }
                });
            },
            handleClose(img) {
                this.$router.push({
                    name: 'photography',
                    params: {
                        category: this.$route.params.category,
                    }
                });
            }
        },
        components: {
            BlurryImageLoader
        },
        watch: {
            currentImage(newImage) {
                if(!newImage) {
                    this.closeLightbox();
                }
            },
            lightBoxIsOpen(newCurrentImage) {
                //Add global keyboard events for navigation if lightbox is open
                if (newCurrentImage) {
                    window.addEventListener('keyup', this.handleKeyPress);
                    //Disable Page Scroll
                    this.disableScroll();
                } else {
                    window.removeEventListener('keyup', this.handleKeyPress);
                    //Enable Page Scroll
                    this.enableScroll();
                }
            }
        }
    }
</script>
