<template>
    <transition
        name="a-fade"
        enter-active-class="a-fade-enter--active"
        leave-active-class="a-fade-leave--active"
        mode="out-in"
    >
    <div v-if="lightBoxIsOpen" class="c-lightbox"
    >
        <div class="c-lightbox__canvas">
            <div class="c-lightbox__image-container">
                <blurry-image-loader
                    :imgObj="currentImage"
                    :callBack="loadImage(this.nextImage)"
                ></blurry-image-loader>
            </div>
            <div
                v-if="prevImage"
                class="c-lightbox__nav c-lightbox__nav--prev"
                @click="handleNavClick(prevImage);"
            >
                <svg class="c-lightbox__nav-icon">
                    <use xlink:href="#shape-back"></use>
                </svg>
            </div>
            <div
                v-if="nextImage"
                class="c-lightbox__nav c-lightbox__nav--next"
                @click="handleNavClick(nextImage)"
            >
                <svg class="c-lightbox__nav-icon">
                    <use xlink:href="#shape-forward"></use>
                </svg>
            </div>
            <div
                class="c-lightbox__close"
                @click="handleClose()"
            >
                <svg class="c-lightbox__nav-icon">
                    <use xlink:href="#shape-close"></use>
                </svg>
            </div>
        </div>
    </div>
</transition>
</template>

<script>
    import { mapState } from 'vuex';
    import { mapGetters } from 'vuex';
    import { mapActions } from 'vuex';
    import { mapMutations } from 'vuex';

    import BlurryImageLoader from './BlurryImageLoader.vue';

    //Icons
    import iconBack from '~assets/svg/back.svg';
    import iconForward from '~assets/svg/forward.svg';
    import iconClose from '~assets/svg/close.svg';

    export default {
        data() {
            return {
                iconBack,
                iconForward,
                iconClose
            }
        },
        computed: {
            ...mapState({
                currentCategory: state => state.gallery.currentCategory,
                currentImage: state => state.lightbox.currentImage,
                lightBoxIsOpen: state => state.lightbox.lightBoxIsOpen
            }),
            ...mapGetters({
                nextImage: 'lightbox/nextImage',
                prevImage: 'lightbox/prevImage'
            })
        },
        methods: {
            ...mapMutations({
                setCurrentImage: 'lightbox/setCurrentImage',
                toggleLightBox: 'lightbox/toggleLightBox',
                closeLightbox: 'lightbox/closeLightbox',
            }),
            ...mapActions({
                loadImage: 'lightbox/loadImage',
                disableScroll: 'lightbox/disableScroll',
                enableScroll: 'lightbox/enableScroll'
            }),
            handleKeyPress(e) {
                let key = e.key;
                switch (key) {
                    case 'ArrowLeft':
                        if (this.prevImage) {
                            let id = this.prevImage.id;
                            this.setCurrentImage(this.prevImage);
                            history.pushState({}, null, '/photo/' + id);
                        }
                    break;
                    case 'ArrowRight':
                        if (this.nextImage) {
                            let id = this.nextImage.id;
                            this.setCurrentImage(this.nextImage);
                            history.pushState({}, null, '/photo/' + id);
                        }
                    break;
                }
            },
            handleNavClick(img) {
                this.setCurrentImage(img);
                history.pushState({}, null, '/photo/' + img.id);
            },
            handleClose(img) {
                history.pushState({}, null, '/photography/' + this.currentCategory);
                this.closeLightbox();
            }
        },
        components: {
            BlurryImageLoader
        },
        watch: {
            lightBoxIsOpen(newCurrentImage) {
                //Add global keyboard events for navigation if lightbox is open
                if (newCurrentImage) {
                    window.addEventListener('keyup', this.handleKeyPress);
                    //Disable Page Scroll
                    this.disableScroll();
                } else {
                    window.removeEventListener('keyup', this.handleKeyPress);
                    //Enable Page Scroll
                    this.enableScroll();
                }
            }
        }
    }
</script>
