<template>
<header class="l-header">
    <nav class="c-nav">
        <!-- <h2 class="c-nav__logo">Milad Alizadeh</h2> -->
        <ul class="c-nav__list">
            <li class="c-nav__list-item">
                <nuxt-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/" exact
                >
                    web development
                </nuxt-link>
            </li>
            <li class="c-nav__list-item">
                <nuxt-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/photography/spain"
                >
                    photography
                </nuxt-link>
            </li>
            <li class="c-nav__list-item">
                <nuxt-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/about"
                >
                    about
                </nuxt-link>
            </li>
            <li class="c-nav__list-item">
                <nuxt-link
                    active-class="c-nav__link--is-active"
                    class="c-nav__link"
                    to="/contact"
                >
                    contact
                </nuxt-link>
            </li>
        </ul>
    </nav>
</header>
</template>
