<template>
    <div class="l-gallery l-container l-container--wide">
        <lightbox/>
        <gallery-filter/>
        <gallery-grid/>
    </div>
</template>

<script>
import GalleryGrid from '~components/GalleryGrid';
import GalleryFilter from '~components/GalleryFilter';
import Lightbox from '~components/Lightbox';


export default {
    components: {
        GalleryFilter,
        GalleryGrid,
        Lightbox
    },
    head() {
        return {
            title: `Photography ` + this.$route.params.category
        }
    }
}
</script>
