.l-gallery {
    .c-lightbox {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .c-nav {
        margin-bottom: 1rem;
        margin-left: -1rem;
        text-align: left;
    }
}
