.l-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;

    &::after {
        content: '';
        flex-grow: 999999999;
    }

    &__item {
        background: $grey-light;
        cursor: pointer;
        flex-grow: 1;
        margin: .5rem;
        position: relative;
    }

    .c-image {
        height: 100%;
        position: absolute;
        top: 0;
        vertical-align: bottom;
        width: 100%;
    }
}
