<template>
<div>
    <site-header/>
    <nuxt/>
    <site-footer/>
</div>
</template>

<script>
import SiteHeader from '~components/SiteHeader.vue'
import SiteFooter from '~components/SiteFooter.vue'
import Helpers from '../helpers/helpers';
import {initSprite} from '../helpers/svg';

if (Helpers.isBrowser()) {
  var __svg__ = {
      path: '../assets/svg/**/*.svg',
      name: 'assets/svg/[hash].logos.svg'
  };
  require('webpack-svgstore-plugin/src/helpers/svgxhr')(__svg__);
}

export default {
    components: {
        SiteHeader,
        SiteFooter
    }
}
</script>

<style lang="sass">@import '~assets/sass/style.scss'</style>
