<template lang="html">
  <div class="">
      <h1>This is the default template page</h1>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
h1 {
    font-size: 36px;
}
</style>
